{% extends 'base.html.twig' %}

{% block title %}HomeToMe | Tu compañero de piso ideal{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light" id="navbar-app">

  <button class="navbar-toggler" id="toggler-l" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <img src="img/app/profile.png"  id="toggler-l" class="toggler-profile">
  </button>

  <img src="img/favicon.ico" style="width:2em">

  <button class="navbar-toggler"  id="toggler-r" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <img src="img/app/msn.png" id="toggler-r" class="toggler-profile">
  </button>

  <div id="myNav-chat" class="overlay-r">
  <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" id="toggler-close-l"class="closebtn close" >&times;</a>
    <!-- Overlay content -->
    <div id="container-msn"></div>

  </div>
  
  <div id="myNav-profile" class="overlay-l">
  <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" id="toggler-close-r" class="closebtn close">&times;</a>
    <!-- Overlay content -->
    <div class="overlay-content">
        <a href="home/perfil"> Editar tu perfil</a>
        <a href="/logout"> Logout</a>
    </div>
  </div>
</nav>


<div class="container mb-3 pb-3 border-right border-left border h-100" id="l-app">
    <div class="row user-toolbar" id="userTlbr">
        <div class="col-sm" id="profile">
            <div class="">
                <img src="users/user1/img1-6.png" class="rounded-circle img-profile">
                <a href="home/perfil">
                    <div class="d-inline app-subt">Mi perfil</div>
                </a>    
            </div>
        </div>
    </div>

    <div class="form-row h-100">
        <div class="col h-100" id="control-panel">
            <button type="button" class="button-cpanel">
                <span class="app-subtB" id="buttonSearch">Buscador</span>
                <div class="separator"></div>
            </button>
            <button type="button" class="button-cpanel">
                <span class="app-subtB" id="buttonMessages">Mensajes</span>
                <div class="separator"></div>
            </button>
            </br>
            <div id="child-cpanel" class="h-100">
                <div id="search-panel" class="h-100">
                <label for="ciudad">Ciudad:</label>
                <select id="ciudadSelect" name="ciudad" class="form-control-sm">
                {% for ciudades in nombre %}
                    <option value="{{ ciudades.id }}">{{ ciudades.nombre }}</option> 
                {% else %}
                    <option value="N">No hay ciudades</option> 
                {% endfor %}
                </select>
                </br>
                <label for="genero">¿Chicos, chicas?:</label>
                <select  class="form-control-sm" id="genderSelect" name="genero">
                    <option value="H">Hombre</option> 
                    <option value="M">Mujer</option>
                    <option value="N" selected>No me importa</option>
                </select>
                </br>
                <label for="genero">Nº Máximo de compañeros:</label>
                <select  class="form-control-sm" id="roomMatesSelect" name="roomMates">
                    <option value="1">1 persona</option> 
                    <option value="2" selected>2 personas</option>
                    <option value="3+">3 o más personas</option>
                </select>
                </br>
                <div class="col">
                    <label for="genero">Precio min. del alquiler:</label>
                    <input class="form-control-sm" type="text" size="4" placeholder="min" id="min">
                </div>
                <div class="col">
                    <label for="genero">Precio máx. del alquiler:</label>
                    <input class="form-control-sm" type="text" size="4" placeholder="max" id="max">
                </div>
                </br>
                <div class="ui-widget" id="buscadorPreferencias">
                    <label for="tags">Búsqueda de preferencias: </label>
                    <input id="tags" class="form-control">
                </div>
                </br>
                <button type="button" class="form-control" id="botonBusqueda">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container h-100" id="c-app">
    <div class="row h-100">
        <div class="col-sm h-100" id="results" >
            <div class="h-100" id="results-panel">
                <h2>Resultados</h2>
                <p>Aquí saldrán los resultados.</p>
            </div>
        </div>
    </div>
</div>

<div class="container border-left h-100" id="r-app">
    <div class="row h-100">
        <div class="col-sm h-100">
            <div class="h-100" id="profile-panel">

            </div>    
        </div>
    </div>
</div>


{% endblock %}