{% extends 'base.html.twig' %}

{% block title %}Home de usuario{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light" id="navbar-app">

  <button class="navbar-toggler"   type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span id="toggler-l" class="navbar-toggler-icon"></span>
  </button>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span id="toggler-r" class="navbar-toggler-icon"></span>
  </button>

  <div id="myNav-chat" class="overlay-r">
  <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" id="toggler-close-l"class="closebtn close" >&times;</a>
    <!-- Overlay content -->
    <div id="container-msn"></div>

  </div>
  
  <div id="myNav-profile" class="overlay-l">
  <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" id="toggler-close-r" class="closebtn close">&times;</a>
    <!-- Overlay content -->
    <div class="overlay-content">
        <a href="home/perfil"> Editar tu perfil</a>
        <a href="/logout"> Logout</a>
    </div>
  </div>
</nav>


<div class="container h-100 border-right" id="l-app">
    <div class="row user-toolbar" id="userTlbr">
        <div class="col-sm" id="profile">
            <div class="">
                <img src="users/user1/img1-6.png" class="rounded-circle img-profile">
                <a href="home/perfil">
                    <div class="d-inline app-subt">Mi perfil</div>
                </a>
                <a href="#!" id="buttonMessages">
                    <img src="img/app/mail.png">
                </a>       
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm" id="search">
            <div class="app-subtB">Buscador</div>
            </br>
            <select id="ciudadSelect" name="ciudad" class="form-control">
            {% for ciudades in nombre %}
                <option value="{{ ciudades.id }}">{{ ciudades.nombre }}</option> 
            {% else %}
                <option value="N">No hay ciudades</option> 
            {% endfor %}
            </select>
            </br>
            <select  class="form-control" id="genderSelect" name="genero">
                <option value="H">Hombre</option> 
                <option value="M">Mujer</option>
                <option value="N" selected>No me importa</option>
            </select>
            </br>
            <select  class="form-control" id="roomMatesSelect" name="roomMates">
                <option value="1">1 persona</option> 
                <option value="2" selected>2 personas</option>
                <option value="3+">3 o más personas</option>
            </select>
            </br>
            <div class="col-xs">
                <input class="form-control" type="text" size="4" placeholder="min" id="min">
            </div>
            <div class="col-xs">
                <input class="form-control" type="text" size="4" placeholder="max" id="max">
            </div>
            </br>
            <div class="ui-widget" id="buscadorPreferencias">
                <label for="tags">Búsqueda de preferencias: </label>
                <input id="tags" class="form-control">
            </div>
            <button type="button" class="form-control" id="botonBusqueda">Buscar</button>
        </div>
    </div>
</div>

<div class="container" id="r-app">
    <div class="row">
        <div class="col-sm" id="results" >
            <h2>Resultados</h2>
            <p>Aquí saldrán los resultados.</p>
        </div>
    </div>
</div>



{% endblock %}