{% extends 'base.html.twig' %}

{% block title %}Nuevo usuario{% endblock %}

{% block body %}
{% include 'navAdmin.html.twig' %}
<div id="layoutSidenav_content">
    <h1>Crear nuevo usuario</h1>

    {{ include('admin/user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">Volver al listado</a>
</div>
{% endblock %}
