{% extends 'base.html.twig' %}

{% block title %}HomeToMe{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
  <img src="img/HomeToMe_Color.png" alt="Logo" style="width:110px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Servicios</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ayuda
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <button type="button" class="but">Iniciar sesión</button>
  </div>
</nav>
<div class="col-6 md-l">
    <p class="md-tit">Encuentra tu compañero de piso ideal</p>
</div>
<div class="col-6 md-r">
<p>Encuentra tu compañero de piso ideal</p>
</div>
<div class="example-wrapper">
    <h1>Bienvenido a la home! ✅</h1>

    Desde aquí puedes acceder a:
    <ul>
        <li>Registrarte como usuario<code><a href="/register">Registro</a></code></li>
        <li>Acceder como usuario <code><a href="/home">Acceso usuario</a></code></li>
        <li>Acceder como administrador <code><a href="/user">Acceso administrador</a></code></li>
    </ul>
</div>
{% endblock %}
