{% extends 'base.html.twig' %}

{% block title %}HomeToMe{% endblock %}

{% block body %}


<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-light" id="nav" style="padding-top:0.8em">
    <a class="navbar-brand" href="#">
    <img src="img/HomeToMe_Color.png" alt="Logo" id="logo">
    </a>
    <button class="navbar-toggler" onclick="openNav()"  id="boverride" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="myNav" class="overlay">
        <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <!-- Overlay content -->
      <div class="overlay-content">
        <a href="#">Home</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>

    </div>
  </nav>

<!-- Superior -->

<div class="col-sm md-topl">
  <p class="md-tit col-9">Encuentra a tu compañero de piso ideal</p>
  <p class="md-p col-12">La manera más rápida y fácil de buscar nueva casa, con tus compañeros más compatibles.</p>
  <div class="d-flex justify-content-center">
    <button type="button" class="butBlu">Iniciar sesión</button>
    <button type="button" class="butWhit">Registrarme</button>
  </div>
</div>

<div class="col-sm md-topr d-flex justify-content-center">
  <img src="img/men_Illustratrion.svg">
</div>

<!-- Medio central -->
<div class="col-sm md-md">
  <p class="md-subtit">Los top de la semana</p>
  <p class="md-p">Te ayudamos a encontrar las viviendas y los compañeros de piso más
  valorados por los usuarios</p>
</div>



{% endblock %}
