{% extends 'base.html.twig' %}

{% block title %}HomeToMe{% endblock %}

{% block body %}

<header>
<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navbar">
  <a class="navbar-brand" href="#">
  <img src="img/home/HomeToMe_Color.png" alt="Logo" id="logo">
  </a>
  <button class="navbar-toggler" onclick="openNav()"  id="boverride" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    
  <ul class="navbar-nav ml-auto" id="menuMedia">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Servicios</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ayuda
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li>
        <a href="/home">
        <button type="button" class="butBlu">Iniciar sesión</button>
        </a>
      </li>
    </ul>  
  <div id="myNav" class="overlay">
  <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <!-- Overlay content -->
    <div class="overlay-content">
      <a href="#">Home</a>
      <a href="#">Servicios</a>
      <a href="#">Ayuda</a>
      <a href="#">Iniciar sesión</a>
    </div>
  </div>
</nav>
</header>

<main>
<!-- Topside -->
<div id="topfill">
<div class="container">
  <div class="row">
    <div class="col-sm top-l">
      <p class="top-tit">Encuentra a tu compañero de piso ideal</p>
      <p class="md-p">La manera más rápida y fácil de buscar nueva casa, con tus compañeros más compatibles.</p>
      <div class="d-flex justify-content-center">
        <button type="button" class="butBlu">Iniciar sesión</button>
        <button type="button" class="butWhit">Registrarme</button>
      </div>
    </div>
    <div class="col-sm d-flex justify-content-center top-r">
      <img src="img/home/men_Illustratrion.svg" class="w-75">
    </div>
  </div>
</div>
</div>

<!-- Midside-top -->
<div class="container">
  <div class="row">
    <div class="col-sm md-top">
      <p class="md-subtit">Los top de la semana</p>
      <p class="md-p">Te ayudamos a encontrar las viviendas y los compañeros de piso más
      valorados por los usuarios</p>
    </div>
  </div>
</div>

<!-- Carrousel -->
<div class="container">
  <div class="container-fluid">
      <div id="carouselExample" class="carousel slide md-carrousel" data-ride="carousel" data-interval="9000">
          <div class="carousel-inner row w-10 mxauto" role="listbox">
              <div class="carousel-item col-md-4 active">
                  <img class="img-fluid mx-auto d-bloc" src="img/home/img1.png" alt="slide 1">
              </div>
              <div class="carousel-item col-md-4">
                  <img class="img-fluid mx-auto d-block" src="img/home/img2.png" alt="slide 2">
              </div>
              <div class="carousel-item col-md-4">
                  <img class="img-fluid mx-auto d-block" src="img/home/img3.png" alt="slide 3">
              </div>
              <div class="carousel-item col-md-4">
                  <img class="img-fluid mx-auto d-block" src="img/home/img5.jpg"c= alt="slide 5">
              </div>

          </div>
          <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
              <i class="fa fa-chevron-left fa-lg text-muted"></i>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
              <i class="fa fa-chevron-right fa-lg text-muted"></i>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div>
</div>

<!-- Midside-mid -->
<div class="md-fill">
  <div class="container">
    <div class="row">
      <div class="col-sm md-md">
        <p class="d-flex justify-content-center md-subtit">¿Qué perfil eres?</p>
        <p class="md-p" style="text-align: center;">Selecciona que es lo que buscas y te ayudaremos a encontrarlo</p>
        <div class="d-flex justify-content-center md-carrousel">
          <button type="button" class="butBlu">Iniciar sesión</button>
          <button type="button" class="butWhit">Registrarme</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <a href="#" title=""><img src="img/home/item1.svg" class="img-fluid rounded mx-auto d-block"></a>
      </div>
      <div class="col-sm">
          <a href="#" title=""><img src="img/home/item2.svg" class="img-fluid rounded mx-auto d-block"></a>
      </div>
      <div class="col-sm">
          <a href="#" title=""><img src="img/home/item3.svg" class="img-fluid rounded mx-auto d-block"></a>
      </div>    
    </div>
  </div>
</div>

<!-- Midside-bottom -->
<div class="container">
  <div class="row">
    <p class="col-sm md-md md-subtit d-flex justify-content-center">Inquilinos felices, Casas felices</p>
  </div>
  <div class="row">
    <div class="col-xs" id="quote">”</div>
    <p class="md-p col-sm" style="text-align: center;">Quería irme a vivir fuera de mi ciudad y no tenía suficiente dinero 
    como para vivir sola, tuve que buscar piso sin haber compartido casa 
    con desconocidos nunca antes y me daba miedo. Una amiga me hablo de Home To Me 
    y gracias a esta web conseguí encontrar unos compis geniales con mis gustos y 
    manías con la limpieza. Lo recomiendo totalemente.</p>
    <p class="col-xs" id="quote">”</p>
  </div>
  
  <div class="row md-bott">
      <div class="col-sm d-flex justify-content-center">
        <a href="#" title="" class="photo"><img src="img/home/mark-customer.png" class="rounded-circle rounded mx-auto "></a>
        <a href="#" title="" class="photo"><img src="img/home/ana-customer.png" class="rounded-circle rounded mx-auto"></a>
        <a href="#" title="" class="photo"><img src="img/home/marta-customer.png" class="rounded-circle rounded mx-auto"></a>
      </div>   
    </div>
  </div>
</div>  

<!-- Bottomside -->
<div class="md-fill">
  <div class="container">
    <div class="row">
        <div class="col-sm">
          <img src="img/home/sofa.svg" class="bott-alerts w-75">
        </div>
        <div class="col-sm">
          <div class="align-middle bott-alerts">
          <p class="md-subtit">Actívate las alertas</p>
          <p class="md-p">Recibe emails con anuncios nuevos y los que bajan de precio.</p>
          <input type="text" placeholder="    Escribe tu mail" id="round-input"></input>
          <button type="button" class="butBlu">Iniciar sesión</button>
          </div>
        </div>
    </div>
  </div>
</div>
</main>


<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <img src="img/home/HomeToMe_Color.png" alt="Logo" id="logo">
        <p class="md-p">HomeToMe es una plataforma web que ayuda a inquilinos y propiertarios a una facil conviencia entre personas y búsqueda de casa..</p>
        <img src="img/home/apple-icon.svg" alt="Logo" id="logo" class="w-25">
        <img src="img/home/google-icon.svg" alt="Logo" id="logo" class="w-25">
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="md-foot">Links útiles</h5>

        <ul class="list-unstyled">
          <li>
            <a class="md-p" href="#!">Tu cuenta</a>
          </li>
          <li>
            <a class="md-p" href="#!">Trabaja con nosotros</a>
          </li>
          <li>
            <a class="md-p" href="#!">Blog</a>
          </li>
          <li>
            <a class="md-p" href="#!">Ayuda</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="md-foot">Compañía</h5>

        <ul class="list-unstyled">
          <li>
            <a class="md-p" href="#!">Sobre HomeToMe</a>
          </li>
          <li>
            <a class="md-p" href="#!">Dónde estamos</a>
          </li>
          <li>
            <a class="md-p" href="#!">contacto@hometome.es</a>
          </li>
          <li>
            <a class="md-p" href="#!">Soporte</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/">HomeToMe</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

{% endblock %}
