{% extends 'base.html.twig' %}

{% block title %}Registro de usuario{% endblock %}

{% block body %}

    <h1>Registro de usuario</h1>
{{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}
      <p>
  <label for="amount">Price range:</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>
 
<div id="slider-range"></div>
        <button class="btn" id="botonRegistro">Registro</button>
        <a href="/">Volver</a>
    {{ form_end(registrationForm) }}
    <script type="text/javascript" src="js/validacion.js"></script>
{% endblock %}
