{% extends 'base.html.twig' %}

{% block title %}Editar ciudad{% endblock %}

{% block body %}
{% include 'navAdmin.html.twig' %}
    <h1>Editar ciudad</h1>
    {% if error is defined %}
        {{error}}
    {% endif %}
    {{ include('ciudad/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('ciudad_index') }}">Volver al listado</a>

    {{ include('ciudad/_delete_form.html.twig') }}
{% endblock %}
