{% extends 'base.html.twig' %}

{% block title %}Panel Administrador{% endblock %}

{% block body %}
{% include 'navAdmin.html.twig' %}
<div class="adminPanel">
<h2 class="adminLetter"> Bienvenido al panel de Administrador</h2>
	<div>
	Seleccione las opciones que desea modificar en el menu de la derecha
	</div>
</div>
{% endblock %}