{% extends 'base.html.twig' %}

{% block title %}Editar Perfil{% endblock %}

{% block body %}
    <h1>Editar Perfil</h1>

    {{ include('app/perfil/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="/home">Volver atrás</a>
  {{numImg}}
    {{ include('app/perfil/_delete_form.html.twig') }}
{% endblock %}