<!DOCTYPE html>
    <hr/>
        <a href="/">Home</a>
        <a href="/user">Usuario</a>
        <a href="/ciudad">Ciudad</a>
        <a href="/preferencias">Preferencias</a>
        <a href="/foto">Foto</a>
        <a href="/registerAdmin">Crear nuevo admin</a>
        <a href="/logout">Logout</a>
    <hr/>
