{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="error">Error 500</h1>
    <p> Ha ocurrido un error en el servidor</p>
    <p>
      Intentaremos arreglar el problema lo más pronto posible
    </p>
{% endblock %}