<form method="post" action="{{ path('preferencias_delete', {'id': preferencia.id}) }}" onsubmit="return confirm('¿Quieres borrar el registro?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ preferencia.id) }}">
    <button class="btn">Borrar</button>
</form>
