{% extends 'base.html.twig' %}

{% block title %}Editar preferencias{% endblock %}

{% block body %}
{% include 'navAdmin.html.twig' %}
    <h1>Editar preferencias</h1>
        {% if error is defined %}
             {{error}}
        {% endif %}
    {{ include('preferencias/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('preferencias_index') }}">Volver al listado</a>

    {{ include('preferencias/_delete_form.html.twig') }}
{% endblock %}
