{% extends 'base.html.twig' %}

{% block title %}Nueva preferencia{% endblock %}

{% block body %}
{% include 'navAdmin.html.twig' %}
    <h1>Nueva preferencia</h1>
        {% if error is defined %}
             {{error}}
        {% endif %}
    {{ include('preferencias/_form.html.twig') }}

    <a href="{{ path('preferencias_index') }}">Volver al listado</a>
{% endblock %}
